# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# 打包产物
build/
dist/
*.spec

# 编辑器
.vscode/
.idea/
*.swp

# 系统
.DS_Store
Thumbs.db

# 输出 / 测试数据
*convert/
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg

# 大文件（自托管 Pyodide 时）
web/pyodide/

# 测试数据
testdata/